<!-- ./client/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>☕ Cafe for Cats WS API</title>
  </head>
  <body>
    <div class="socketContainer"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
    <script>
      const socket = io('http://localhost:5000');
      const protestSocket = io('http://localhost:5000/protests');

      const sockets = ['getProtestsForUser'];

      // for (let i = 0; i < sockets.length - 1; i++) {
      //   buildSocket(sockets[i]);
      // }

      var str = '<ul>';

      sockets.forEach((slide) => {
        console.log(slide);
        str += '<li>' + slide + '</li>';
      });

      str += '</ul>';
      console.log(str);
      document.getElementsByClassName('socketContainer').innerHTML = str;

      function buildSocket(name) {
        protestSocket.on(name, (data) => {
          document.getElementById(name).innerText = JSON.stringify(
            data,
            null,
            2
          );
        });

        protestSocket.emit(name);
      }

      function clearElement(key) {
        document.getElementById(key).innerText = '';
      }

      function getProtests() {
        const elements = document.querySelectorAll('input.get-protests');

        const input = {
          userId: elements[0].value,
        };

        protestSocket.emit('getProtestsForUser', input);
      }
    </script>
  </body>
</html>
